<img src="../../public/images/Code.jpg" class="img-fluid" alt="" />

<div class="container">
  <div class="row">
    <div class="col-sm">
      hi ipsum dolor sit amet consectetur adipisicing elit. Quaerat omnis natus
      voluptatibus earum! Velit, dolore dicta. Libero amet harum pariatur, quod
      ex dolorem, expedita perferendis laboriosam consequuntur quos, odit dicta!
    </div>
    <div class="col-sm">
      <img
        width="200px"
        height="200px"
        src="../../public/images/Code.jpg"
        alt=""
      />
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-8">col-sm-8</div>
    <div class="col-sm-4">col-sm-4</div>
  </div>
  <div class="row">
    <div class="col-sm">col-sm</div>
    <div class="col-sm">col-sm</div>
    <div class="col-sm">col-sm</div>
  </div>
</div>

<!--CARDS 3-->
<div class="container">
  <div class="row">
    <div class="col">
      1 of 3
    </div>
    <div class="col">
      2 of 3
    </div>
    <div class="col">
      3 of 3
    </div>
  </div>
</div>