<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pod Freaks</title>
  </head>
  <body>
    <header>
      <h1>
        <a href="/">Pod Freaks</a>
      </h1>
      <nav>
        <a href="/featured-podcasts">Featured Podcasts</a>
        <a href="/featured-genres">Featured Genres</a>
        <a href="/reviews">Reviews</a>
        <a href="/profile">profile</a>
        <form action="">
          <input type="text" placeholder="Search.." name="search" />
          <button type="submit"><i class="fa fa-search"></i></button>
        </form>
        <button></button>
      </nav>
    </header>
    <main>
      {{{body}}}
    </main>

  </body>
</html>