<!--image is not working-->

<div class="d-flex justify-content-center error">
  <img src="" alt="" />
</div>

<div>
  <p class="fs-4 font-monospace text-center">Oops! Looks like something went
    terribly wrong... Go ahead a try again!</p>
</div>