<div class="display-4 text-center fw-bold text-dark mt-5 pt-5 font-monospace">
    <p> Choose Your Genre </p>
</div>

<div class="row row-cols-1 row-cols-md-3 mt- 5 pt-5">
    <div class="col mb-4">
        <div class="card">
            <img src="../images/escaping-nxivm-pod.webp" class="card-img-top" alt="True Crime">
<div
  class="display-4 text-center fw-bold text-dark mt-5 pt-5 font-family-sans-serif"
>
  <p> Choose Your Genre </p>
</div>

{{#each genres}}
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img
          src="../images/the-official-pod.jpg"
          class="card-img"
          alt="Entertainment"
        />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{genre_name}}</h5>
          {{#each podcasts}}
            <a href="/podcasts/{{id}}">{{title}}</a>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
{{/each}}

{{! <div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img src="../images/the-official-pod.jpg" class="card-img" alt="Entertainment">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Genre</h5>
                <p class="card-text font-monospace">Come enjoy the list of titles here!</p>
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Podcast id</h5>
                            <small class="text-muted">Updated 1 day ago</small>
                        </div>
                        <p class="mb-1">Podcast description</p>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Podcast id</h5>
                            <small class="text-muted">Updated 1 day ago</small>
                        </div>
                        <p class="mb-1">Podcast description</p>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Podcast id</h5>
                            <small class="text-muted">Updated 1 day ago</small>
                        </div>
                        <p class="mb-1">Podcast description</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col mb-4">
        <div class="card">
            <img src="../images/the-brilliant-idiots-pod.jpg" class="card-img-top" alt="Comedy">
            <div class="card-body">
                <h5 class="card-title">Genre</h5>
                <p class="card-text font-monospace">Come enjoy the list of titles here!</p>
                                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Podcast id</h5>
                            <small class="text-muted">Updated 1 day ago</small>
                        </div>
                        <p class="mb-1">Podcast description</p>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Podcast id</h5>
                            <small class="text-muted">Updated 1 day ago</small>
                        </div>
                        <p class="mb-1">Podcast description</p>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Podcast id</h5>
                            <small class="text-muted">Updated 1 day ago</small>
                        </div>
                        <p class="mb-1">Podcast description</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col mb-4">
        <div class="card">
            <img src="../images/lex-fridman-pod.png" class="card-img-top" alt="Technology">
            <div class="card-body">
                <h5 class="card-title">Genre</h5>
                <p class="card-text font-monospace">Come enjoy the list of titles here!</p>
                                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Podcast id</h5>
                            <small class="text-muted">Updated 1 day ago</small>
                        </div>
                        <p class="mb-1">Podcast description</p>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Podcast id</h5>
                            <small class="text-muted">Updated 1 day ago</small>
                        </div>
                        <p class="mb-1">Podcast description</p>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Podcast id</h5>
                            <small class="text-muted">Updated 1 day ago</small>
                        </div>
                        <p class="mb-1">Podcast description</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col mb-4">
        <div class="card">
            <img src="../images/the-weekly-planet-pod.jpg" class="card-img-top" alt="Entertainment">
            <div class="card-body">
                <h5 class="card-title">Genre</h5>
                <p class="card-text font-monospace">Come enjoy the list of titles here!</p>
                                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Podcast id</h5>
                            <small class="text-muted">Updated 1 day ago</small>
                        </div>
                        <p class="mb-1">Podcast description</p>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Podcast id</h5>
                            <small class="text-muted">Updated 1 day ago</small>
                        </div>
                        <p class="mb-1">Podcast description</p>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Podcast id</h5>
                            <small class="text-muted">Updated 1 day ago</small>
                        </div>
                        <p class="mb-1">Podcast description</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col mb-4">
        <div class="card">
            <img src="../images/breaking-points-pod.jpg" class="card-img-top" alt="News">
            <div class="card-body">
                <h5 class="card-title">Genre</h5>
                <p class="card-text font-monospace">Come enjoy the list of titles here!</p>
                                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Podcast id</h5>
                            <small class="text-muted">Updated 1 day ago</small>
                        </div>
                        <p class="mb-1">Podcast description</p>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Podcast id</h5>
                            <small class="text-muted">Updated 1 day ago</small>
                        </div>
                        <p class="mb-1">Podcast description</p>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Podcast id</h5>
                            <small class="text-muted">Updated 1 day ago</small>
                        </div>
                        <p class="mb-1">Podcast description</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col mb-4">
        <div class="card">
            <img src="../images/hardcore-history-pod.webp" class="card-img-top" alt="Edcucational">
            <div class="card-body">
                <h5 class="card-title">Genre</h5>
                <p class="card-text font-monospace">Come enjoy the list of titles here!</p>
                                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Podcast id</h5>
                            <small class="text-muted">Updated 1 day ago</small>
                        </div>
                        <p class="mb-1">Podcast description</p>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Podcast id</h5>
                            <small class="text-muted">Updated 1 day ago</small>
                        </div>
                        <p class="mb-1">Podcast description</p>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Podcast id</h5>
                            <small class="text-muted">Updated 1 day ago</small>
                        </div>
                        <p class="mb-1">Podcast description</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</div> }}
