/* * {

} */

#hero {
  background-image: url("../images/Hero-image.png");
  height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-bottom: 100px;
}

#footer-break {
  height: 2px;
  width: 80vw;
}

#copy {
  font-size: 13px;
}

.footer {
  position: relative;
}

.margin-body {
  margin-top: 6rem;
}

#genre-image {
  background-image: url("../images/genre-card.jpg");
  object-fit: contain;
}

.profile-intro {
  margin-top: 150px;
}

.home-section-intros {
  display: flex;
  align-items: center;
  justify-content: center;
}
