/* * {

} */

#hero {
  background-image: url("../images/Hero-image.png");
  height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#footer-break {
  height: 2px;
  width: 80vw;
}

#copy {
  font-size: 13px;
}
